#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/*
    Cygnus / Corne 5-column physical positions

              ╭────╮ ╭────╮ ╭────╮ ╭────╮ ╭────╮     ╭────╮ ╭────╮ ╭────╮ ╭────╮ ╭────╮
              │  0 │ │  1 │ │  2 │ │  3 │ │  4 │     │  5 │ │  6 │ │  7 │ │  8 │ │  9 │
              ╰────╯ ╰────╯ ╰────╯ ╰────╯ ╰────╯     ╰────╯ ╰────╯ ╰────╯ ╰────╯ ╰────╯
              ╭────╮ ╭────╮ ╭────╮ ╭────╮ ╭────╮     ╭────╮ ╭────╮ ╭────╮ ╭────╮ ╭────╮
              │ 10 │ │ 11 │ │ 12 │ │ 13 │ │ 14 │     │ 15 │ │ 16 │ │ 17 │ │ 18 │ │ 19 │
              ╰────╯ ╰────╯ ╰────╯ ╰────╯ ╰────╯     ╰────╯ ╰────╯ ╰────╯ ╰────╯ ╰────╯
              ╭────╮ ╭────╮ ╭────╮ ╭────╮ ╭────╮     ╭────╮ ╭────╮ ╭────╮ ╭────╮ ╭────╮
              │ 20 │ │ 21 │ │ 22 │ │ 23 │ │ 24 │     │ 25 │ │ 26 │ │ 27 │ │ 28 │ │ 29 │
              ╰────╯ ╰────╯ ╰────╯ ╰────╯ ╰────╯     ╰────╯ ╰────╯ ╰────╯ ╰────╯ ╰────╯
                            ╭────╮ ╭────╮ ╭────╮     ╭────╮ ╭────╮ ╭────╮
                            │ 30 │ │ 31 │ │ 32 │     │ 33 │ │ 34 │ │ 35 │
                            ╰────╯ ╰────╯ ╰────╯     ╰────╯ ╰────╯ ╰────╯
*/

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#define QWERTY 0
#define LOWER  1
#define RAISE  2
#define FUN    3
#define NAV    4

/ {
    behaviors {
         mk: mk {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&sk>;
        };


        sqt_space: sqt_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT &kp SPACE>;
        };

        dqt_space: dqt_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp DQT &kp SPACE>;
        };

        grv_space: grv_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp GRAVE &kp SPACE>;
        };

        tilde_space: tilde_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp TILDE &kp SPACE>;
        };

        caret_space: caret_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp CARET &kp SPACE>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

// Keyboard layout
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//              ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
//                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O        &kp P
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L        &kp SEMI
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M        &kp COMMA      &kp DOT      &kp SLASH
//              ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                              &to QWERTY     &lt FUN TAB &lt LOWER SPACE   &lt RAISE BACKSPACE &mk NAV LSHFT    &none
//                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &none       &kp LBRC      &kp RBRC      &kp BSLH        &none            &none        &kp N7        &kp N8        &kp N9        &none
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp AT      &kp LPAR      &kp RPAR      &kp AMPS        &none            &none        &kp N4        &kp N5        &kp N6      &kp DOT
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
            &kp UNDERSCORE      &kp LBKT      &kp RBKT      &kp PIPE        &none            &none        &kp N1        &kp N2        &kp N3    &kp COMMA
//              ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &none         &none         &none            &trans     &lt NAV N0       &none
//                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &none         &kp LT        &kp GT      &kp HASH        &none              &none      &kp PERCENT    &kp EQUAL     &kp COLON        &none
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &caret_space   &sqt_space   &dqt_space    &tilde_space  &grv_space           &none      &kp QUESTION   &kp MINUS     &kp PLUS      &kp DOLLAR
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp CARET      &kp SQT         &kp C    &kp TILDE      &kp GRAVE            &none       &kp EXCL     &kp SLASH      &kp STAR        &none
//              ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &none       &kp TAB     &kp SPACE              &none        &none        &none
//                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        functions_layer {
            display-name = "FUN";
            bindings = <
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
          &kp LS(LC(LA(N9))) &kp LS(LC(LA(N8))) &kp LS(LC(LA(N7))) &kp LS(LC(LA(N6))) &kp LS(LC(LA(N5)))  &kp F12       &kp F7        &kp F8        &kp F9       &kp F15
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &sk LCTRL      &sk LALT     &sk LGUI      &sk LSHFT &kp LS(LC(LA(AT)))       &kp F11       &kp F4        &kp F5        &kp F6       &kp F14
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
          &kp LS(LC(LA(N4))) &kp LS(LC(LA(N3))) &kp LS(LC(LA(N2))) &kp LS(LC(LA(N1))) &kp LS(LC(LA(N0)))  &kp F10       &kp F1        &kp F2        &kp F3       &kp F13
//              ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                       &studio_unlock       &none    &bootloader       &bt BT_PRV    &bt BT_NXT    &bt BT_CLR
//                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        navigation_layer {
            display-name = "NAV";
            bindings = <
//              ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
              &kp CAPSLOCK    &kp HOME       &kp UP      &kp END &kp LS(LC(LA(LG(N3)))) &kp LS(LC(LA(LG(N6)))) &kp TAB     &kp ENTER      &kp ESC &kp LS(LC(LA(LG(N9))))
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &caps_word    &kp LEFT     &kp DOWN    &kp RIGHT &kp LS(LC(LA(LG(N2)))) &kp LS(LC(LA(LG(N5)))) &kp C_MUTE &kp C_VOL_DN  &kp C_VOL_UP &kp LS(LC(LA(LG(N8))))
//              ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp INS    &kp PG_DN      &kp DEL    &kp PG_UP &kp LS(LC(LA(LG(N1)))) &kp LS(LC(LA(LG(N4)))) &kp C_PP   &kp C_PREV   &kp C_NEXT &kp LS(LC(LA(LG(N7))))
//              ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &none &kp LS(LC(LA(LG(N0)))) &kp SPACE       &bootloader       &none       &none
//                                          ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        layer6 {
            status = "reserved";
        };

        layer7 {
            status = "reserved";
        };

        layer8 {
            status = "reserved";
        };

        layer9 {
            status = "reserved";
        };

        layer10 {
            status = "reserved";
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

    };
};
